.auth-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container{
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toast{
  border: 1px solid black;
}