.auth-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container{
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toast{
  border: 1px solid black;
}

.h-card{
  width: 30vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.109);
  padding: 20px;
  align-items: center;
}


.task-form{
  width: 100vw;
  display: flex;
  margin: 20px;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.166);
  padding-bottom: 15px;
}

.task-container{
  height: 90vh;
}

.selected{
  display: flex;
  flex-direction: column;
}
.task-main{
  width: 100vw;
  display: flex;
  margin: 60px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card{
  margin: 10px 0px;
}

.task-main h5{
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.115);
}

.s-p{
  display: flex;
}